.Header a:link,
.Header a:visited {
  text-decoration: none;
}

.Header .filter {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.53);
  height: 100%;
  width: 100%;
  z-index: 0;
}

.Header {
  position: relative;
  height: max(15vw, 100px);
  background-image: url("../../images/beach.jpg");
  background-position: 50% 43%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.above-filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.above-filter * {
  z-index: 1;
}

body {
  background-color: rgb(226, 232, 242) !important;
}